* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loading-indicator {
  font-size: 40px;
  text-align: center;
  padding-top: 200px;
}

.loading-indicator_padding100 {
  padding-top: 100px;
}
.title {
  text-align: center;
}

.anime-list-container {
  height: 450px;
}

.anime-list {
  padding: 25px;
}
